button.accordion
{
    font-size: 25px;
    font-weight: bold;

    width: 100%;
    height: 100px;
    padding: 18px;

    cursor: pointer;
    transition: .4s;
    text-align: left;

    color: #d8c7eb;
    border: none;
    outline: none;
    background-color: #eee;
}


button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panelB {
    background-color: white;
    display: none;
}

#first{background-color:#ff0000 }

#second{background-color:#CA8220 }

#third{background-color:#400085}

.tableContainer {
  padding: 15px;
}
