<!-- ========== ///// THE PURPLE HEADER OF THE PAGE ///// ============ -->
	<div id=headerBar>
	<div id="nameContainer">
			<h1 id="ArithmetricksName">	Arithme-tricks</h1>
			<img src="/images/magicianSmall.png" alt="Magician Child" id="magician">
	</div>

	</div>

<!-- =============== // ///// THE LOGIN FORMS ///// //================= -->
  <div id="loginContainer" class="forms">

			<div id="teacherLoginContainer" >
				{{!--<form action="/user" class="inputForm" id="<teacher></teacher>Form" method="POST">
					User Name:
					<input type="text" name="teacherName" class="">
					<br>
					Password:&nbsp;
					<input type="text" name="teacherpassword" class="">
					<br>
					<input type="hidden" name="">
					<input type="submit" name="Enter">
				</form>--}}
<form method="post" action="/user">
<div class="text-center">
<input type="text" name="username" value="username"  class="email" />
<input type="password" name="password" value="password" class="email" />
<input class="btn" type="submit" name="Enter" value="Log me in">  

</div> <!-- End Box -->
  
</form>


			</div>

			<div id="spacer"></div>

			
	</div> 	<!-- END OF LOGINCONTAINER -->