

 <!-- ========== ///// THE PURPLE HEADER OF THE PAGE ///// ============ -->
	<div id=headerBar>
	<div id="nameContainer">
			<h1 id="ArithmetricksName">	Arithme-tricks</h1>
			<img src="/images/magicianSmall.png" alt="Magician Child" id="magician">
	</div>

	</div>


<!-- =============== // ///// THE LOGIN FORMS ///// //================= -->

		<div id="loginContainer" class="row">

			<div id="teacherLoginContainer" class="col-lg-12">
				<h2> User Login </h2>
				<form class="imputForm" id="teacherForm" action="/user" method="POST">
					User Name:
					<input type="text" name="teacherName" class="form-group">
					<br>
					Password:&nbsp;
					<input type="text" name="teacherpassword" class="form-group">
					<br>
					<input type="hidden" name="">
					<input type="submit" name="Enter">
				</form>
			</div>

			
	</div> 	<!-- END OF LOGINCONTAINER -->
</div> <!-- END OF CONTAINER -->


