html,
body{
    height: 100%;
}

body{
    width: 768px;
    margin: auto;

    background-color: #8080ff;
}

.mycontainer{
    width: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}

#headerBar{
    position: relative;

    width: 100%;
    background-color: #B20000;
    height: 200px;
    margin-top: 10px;
}

#nameContainer{
    position: absolute;
    top: 32px;
    left: 21px;

    width: 75%;

    border-radius: 100%;
}
#logoutButton{
 position: absolute;
 top:130px;
 left:10px;
}

#ArithmetricksName{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 74px;
    font-weight: bold;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

    margin: 15px 0px 0px 0px;
    padding: 0 0 47px 0;

    color: white;
}


#magician{
  position:absolute;
  top:-15px;
  left:600px;
}
/*======================fix for the sticty footer===================*/
.mycontainer:after{
    display: block;

    content: '';
}

.siteFooter,
.mycontainer:after{
    height: 100px;
}

.siteFooter{
    position: relative;
    left: 0px;
    margin-top:10px;
    width: inherit;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #ffbf00;
}


/*======================HERE IS THE CSS FOR THE WELCOME HTML===================*/

.forms{
    font-family: sans-serif;

    color: #60c;
}

#loginContainer{
    display: flex;

    padding-top: 100px;

    justify-content: space-around;
    align-items: center;
}

/*#spacer{
    width: 3px;
    height: 150px;

    background-color: #60c;
}*/

/*======================HERE IS THE CSS FOR THE  GAME HTML===================*/

#timerContainer{
    font-family: sans-serif;
    font-size: 20px;

    position: absolute;
    top: 135px;
    left: 310px;

    display: flex;

    width: 130px;
    height: 130px;

    color: white;
    border: solid 10px #8080ff;
    border-radius: 100%;
    background-color: black;

    justify-content: space-around;
    align-items: center;
}

#gameZoneContainer{
    min-height: 100%;
    margin-top: -5px;
    padding-bottom: 0px;

    display: flex;
    justify-content: space-between;
}

#problemContainer{
    width: 49%;
    margin-top: 20px;
    padding: 0 0 0 0;

    text-align: center;

    color: black;
    background-color: blue;
}


.problemElement{
    font-family: sans-serif;
    font-size: 90px;

    margin: 30px 0px 0px 0px;
}

#operatorBox{
    display: inline-block;
}

#secondNumberBox{
    display: inline-block;
}

#problemAnswer{
    font-size: 50px;
    height: 50px;
    width: 160px;
}

.progressPanel{
    font-family: sans-serif;

    width: 49%;
    margin-top: 20px;
    padding: 0 0 0 0;

    text-align: center;

    color: white;
    background-color: #006400;
}

.progressBar{
    width: 80px;
    height: 15px;
    margin: 1px 0 0 10px;

    background-color: yellow;
}

.problemsLeftBar{
    width: 130px;
    height: 15px;
    margin: 1px 0 0 10px;

    background-color: blue;
}

/*========== ///MASK STYLING /// ================================*/

#mask{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    display: block;
    overflow: auto;

    width: 100% ;
    min-height: 100%;

    background-color: #8080ff;
}

#module{
    width: 768px;
    margin: auto;
}

#roundButtonContainer {
    display: flex;

    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;

    border: solid red 10px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#startlabelBox:hover{
  background-color:#cc0000;
}

#roundButtonContainer:active {
  background-color: #990000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#startlabelBox {
    font-family: sans-serif;

    display: flex;

    width: 225px;
    height: 225px;
    padding: 5px;

    color: white;
    border: solid #999 1px;
    border-radius: 100%;
    background-color: red;

    justify-content: center;
    align-items: center;
}
/**************************************************/
/*.box{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    background: papayawhip;
    width: 300px;
    height: 200px;
    border-radius: 1px;
    margin: 0 auto 0 auto;
    padding: 20px 0px 0px 70px;
    border: #2980b9 4px solid;
    text-shadow: 0px 0px 15px blueviolet;
}*/
#teacherLoginContainer{
margin-left:70px;
}


.email{
     background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 10px;
    width: 100%;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background: navy;
    
    width: 100%;
    padding: 20px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: px;
    font-weight: 800;
    font-size: 1.5em;
}

.btn:hover{
  background:navy; 
  color: white;
}

/****************************************************Report CSS******************************/
button.accordion
{
    font-size: 25px;
    font-weight: bold;

    width: 100%;
    height: 100px;
    padding: 18px;

    cursor: pointer;
    transition: .4s;
    text-align: left;

    color: #d8c7eb;
    border: none;
    outline: none;
    background-color: #eee;
}


button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panelB {
    background-color: white;
    display: none;
}

#first{background-color:#ff0000 }

#second{background-color:#CA8220 }

#third{background-color:#400085}

.tableContainer {
  padding: 15px;
  overflow-y: scroll;
}
